// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #109cf1;
$yellow: #ffc65a;
$orange: #e67e22;
// $green: #11dcba;
$dark-gray: #252733;
$light-gray-main: #f5f6f8;
$light-gray-secondary: #dfe0eb;
$lightest-gray: #ebeff2;
$lighter-text: #838fa0;
$medium-gray: #707683;

// Moppy Palette:
$white: #fcfcfc;
$rose: #fcd9d9;
$light-rose: #fff7f7;
$rose2: #f8e3e1;
$salmon: #f78a7b;
$coral: #ff8c8c;
$green: #235952;
$dark-green: #13332e;
$green-text: #28474c;
$light-grey: #bababa;
$inactive: #a5a6a3;
$greengrey: #8d9f9c;
$grey: #888888;
$dark-grey: #4a4a4a;
$backbody: #f8f7fc;
$darker-green: #0e2724;
$black: #2e2e2e;
$light-black: #434343;
$info: #1a937d;
$overblik: #1a937d;
