// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #109cf1;
$yellow: #ffc65a;
$orange: #e67e22;
// $green: #11dcba;
$dark-gray: #252733;
$light-gray-main: #f5f6f8;
$light-gray-secondary: #dfe0eb;
$lightest-gray: #ebeff2;
$lighter-text: #838fa0;
$medium-gray: #707683;

// Moppy Palette:
$white: #fcfcfc;
$rose: #fcd9d9;
$salmon: #f78a7b;
$green: #235952;
$green-text: #13332e;
$dark-green: #28474c;
