// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

// Define fonts for body and headers
$font-Poppins: "Poppins", "Helvetica", "sans-serif";
$raleway: "Raleway", sans-serif;
$muli: "Muli", sans-serif;
$avenir: "avenir";
$recoleta: "recoleta";

@font-face {
  font-family: "recoleta";
  src: asset-url("fonts/recoletar.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "recoleta";
  src: asset-url("fonts/recoletab.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "avenir";
  src: asset-url("fonts/Avenir-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "avenir";
  src: asset-url("fonts/Avenir-Book.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: asset-url("fonts/Avenir-Medium.woff") format("woff");
  font-weight: 500;
}

$main: $muli;
