// * {
//   border: 1px solid black;
// }
body {
  h1 {
    font-family: "recoletab";
    color: $green;
    font-size: 50px;
  }

  h2 {
    font-family: "recoletab";
    font-weight: 500;
    font-size: 36px;
    color: $green;
  }
  h3 {
    font-family: $muli;
    font-weight: 500;
    font-size: 20px;
    color: $grey;
  }
  h4 {
    font-family: "recoletar";
    font-size: 18px;
    color: $grey;
  }
  p {
    font-family: $muli;
    font-weight: 500;
    font-size: 18px;
    color: $grey;
    line-height: 1.2;
    margin: 0;
  }
}
