.wizard-form {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 540px;
  height: 435px;
  margin: 10px auto 10px auto;
  padding: 20px 70px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

  h3 {
    font-weight: 800;
    font-family: $muli;
    color: $black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  .calendar {
    h3 {
      font-size: 18px;
    }
  }

  .wrapper {
    justify-content: center;
    flex: 4;
    flex-direction: column;
    display: flex;
  }

  .timetable {
    flex: 10;
  }

  .form-group {
    margin-bottom: 0.5rem;
    label {
      font-family: $muli;
    }
  }

  .buttons-form {
    text-align: end;
  }

  .wizard-content {
    flex: 1;
    justify-content: space-between;
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }
  }
}
