.banner {
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .banner__bg {
    position: absolute;
    top: -50px;
    right: 0;
    z-index: -1;
    #bg {
    }
  }
  &__hero {
    margin: auto auto;
    height: 500px;
    // display: flex;
    display: grid;
    // grid-template-columns: (1fr 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 10px;
    width: 80%;

    .banner__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: space-around;
      // align-content: space-between;
      padding: 80px 10px;
      .banner__button {
        width: 215px;
      }
      .banner__message {
        width: 370px;
      }
    }

    .banner__image {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      #sofa {
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: 576px) {
    height: auto;
    text-align: center;

    &__hero {
      height: auto;
      margin: 70px auto;
      .banner__image {
        grid-row: 1;
        grid-column: 1;
      }
      .banner__content {
        padding: 30px 10px;
        .banner__message {
          width: 100%;
          margin: 20px auto;
        }
        .banner__button {
          margin: auto;
        }
      }
    }
  }
}
