.mybutton {
  background-color: $green;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  font-family: $main;
  font-weight: 500;
  color: $rose;
  font-size: 18px;
  transition: all ease-in-out 300ms;
  &:hover {
    background-color: $dark-green;
  }
  &.disabled {
    background-color: $inactive2;
    color: $grey;
  }

  &.lg {
    padding: 8px 40px;
    border-radius: 5px;
    font-size: 20px;
  }

  &.sm {
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 5px;
  }

  &.salmon-button {
    background-color: $salmon;
    color: $dark-green;
    &:hover {
      background-color: $dark-salmon;
    }
    &.bordered {
      border: solid 0.5px $green;
    }
  }

  &.rose-button {
    background-color: $rose;
    color: $dark-green;
  }
  &.white-button {
    background-color: white;
    border: solid 1px;
    border-color: $rose;
    color: $dark-green;
    &.filled {
      &:hover {
        background-color: $rose;
        border-color: $medium-pink;
      }
    }
    &:hover {
      border-color: $medium-pink;
    }
    &.rate {
      .button-text {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 14px;
          margin-right: 5px;
        }
      }
    }
  }
}
