.cta {
  padding: 100px 0px;
  overflow: hidden;
  position: relative;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  .cta__content {
    text-align: center;
    width: 50%;
    h1 {
      color: $rose;
      margin-bottom: 25px;
    }
  }
  #yoga {
    // width: 30%;
    // height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  #plants {
    position: absolute;
    left: 0;
    top: 0;
  }

  @media only screen and (max-width: 576px) {
    padding: 50px 0px;
    .cta__content {
      z-index: 10;
      width: 90%;
    }
    #yoga {
      opacity: 0.2;
    }
    #plants {
      opacity: 0.2;
    }
  }
  @media only screen and (min-width: 1500px) {
    padding: 150px 0px;
  }
}
