.hiw {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      height: 100vh;
      width: 100%;
    }
  }
  &__wrapper {
    width: 80%;
    height: 75vh;
    .hiw__heading {
      text-align: center;
      margin-bottom: 50px;
    }
    .hiw__steps {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-column-gap: 10px;
      .step__icon {
        height: 120px;
      }
      .step__content {
        h4 {
          color: $dark-green;
          font-weight: 600;
        }
        .dark {
          color: $dark-green;
        }
      }
    }
  }
  @media only screen and (max-width: 576px) {
    height: auto;
    background-color: $green;
    &__bg {
      display: none;
    }
    &__wrapper {
      height: auto;

      .hiw__heading {
        h2 {
          color: $rose;
        }
        h3 {
          display: none;
        }
      }
      .hiw__steps {
        row-gap: 30px;
        .step {
          .step__icon {
            height: auto;
          }
        }
        .step__content {
          margin-top: 15px;
          h4 {
            color: white;
          }
          p {
            color: $light-rose;
            font-size: 16px;
          }
        }
      }
    }
  }
}
