.hiw {
  position: relative;
  min-height: 75vh;
  &__bg {
    min-height: 75vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      min-height: 75vh;
      width: 100%;
    }
  }
  &__wrapper {
    margin: auto;
    width: 80%;
    padding: 50px 0px 100px 0px;

    .hiw__heading {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
    }
    .hiw__steps {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      grid-column-gap: 10px;
      .step__icon {
        height: 120px;
      }
      .step__content {
        h4 {
          color: $dark-green;
          font-weight: 600;
        }
        .dark {
          color: $light-black;
        }
      }
    }
  }
  @media only screen and (max-width: 576px) {
    background-color: $green;
    min-height: auto;
    &__bg {
      display: none;
    }
    &__wrapper {
      height: auto;
      .hiw__heading {
        h2 {
          color: $rose;
        }
        h3 {
          display: none;
        }
      }
      .hiw__steps {
        row-gap: 30px;
        .step {
          .step__icon {
            height: auto;
          }
        }
        .step__content {
          margin-top: 15px;
          h4 {
            color: white;
          }
          p {
            color: $light-rose;
            font-size: 16px;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 1500px) {
    display: flex;
    min-height: 75vh;
    &__bg {
      min-height: 60vh;
      img {
        min-height: 60vh;
        height: 80vh;
      }
    }
    .hiw__wrapper {
      padding: 50px 0px 200px 0px;
    }
  }
}
