.log__wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 0px;
  background-color: $light-rose;
  position: relative;

  &.login {
    background-color: $green;
  }

  .log__left {
    background-color: $green;
    border-radius: 0px 40px 40px 0px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &.login {
      background-color: $light-rose;
    }
    .log__title {
      h2 {
        color: $rose;
      }
      &.login {
        h2 {
          color: $dark-green;
        }
      }
    }
    img {
      width: 200px;
      margin: auto;
    }
  }

  .log__right {
    width: 100%;
    padding: 30px 50px;
    margin: auto;
    &.logout {
      padding: 20px 50px;
      .myform {
        h3 {
          font-size: 24px;
          margin: 10px 0px;
        }
        p {
          margin-bottom: 5px;
        }
        .form-group {
          margin-bottom: 5px;
          label {
            margin-bottom: 0px;
          }
        }
        .mybutton {
          margin: 5px 0px;
          .lock {
            width: 16px;
          }
          .google img {
            width: 20px;
          }
        }

        .formFooter {
        }
      }
    }
    .myform {
      margin: auto;
      width: 460px;
      background-color: white;
      padding: 20px 30px;
      border-radius: 20px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);

      label {
        font-family: $muli;
      }
      h3 {
        margin: 20px 0px;
        color: $black;
        font-size: 36px;
      }

      p {
        color: $green;
        font-size: 14px;
        margin-bottom: 20px;
      }
      .form-check-input {
        left: 0px;
        margin-left: 0px;
      }
      .mybutton {
        width: 100%;
        margin: 10px 0px;
        .google {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          margin-left: 10px;
          font-size: 16px;
          color: $dark-green;
          margin: 0px 10px;
        }
        .lock {
          width: 24px;
        }
      }

      .separator__wrapper {
        display: flex;
        align-items: center;
        .separator {
          flex: 1;
          width: 30%;
          height: 1px;
          background-color: $dark-grey;
        }
        span {
          font-family: $muli;
          margin: 0px 10px;
        }
      }

      .formFooter {
        text-align: center;
        color: $black;
        span {
          color: $green;
        }
      }
    }

    .log__home-wrapper {
      position: absolute;
      bottom: 10px;
      right: 30px;
      flex-basis: 0px;
      display: flex;
      width: 130px;
      justify-content: space-between;
      align-items: center;
      p {
        color: $dark-green;
      }
      &.login {
        p {
          color: $rose;
        }
      }
    }
  }

  @media only screen and (max-width: 576px) {
    display: flex;
    min-height: 100vh;
    height: auto;
    align-items: center;
    .log__right {
      padding: 30px 10px !important;
      &.login {
        .myform {
          width: 90%;
          h3 {
            margin: 30px 0px;
          }
        }
      }
      .myform {
        width: 95%;
        padding: 30px 20px;

        h3 {
          font-size: 26px;
          margin: 10px 0px;
        }

        .form-group {
          margin-bottom: 10px;
        }
      }
    }
  }
}
