.navbar {
  position: fixed;
  top: 0;
  background-color: $rose;

  &__action {
    margin-left: 20px;
  }

  a {
    color: $green;
    &:hover {
      color: $dark-green;
      text-decoration: none;
    }
  }
}
