.panel-header {
  position: relative;
  background-color: white;
  width: 580px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  overflow: hidden;
  margin-left: 50px;
  display: flex;
  height: 100px;
  align-items: center;
  h1 {
    width: 75%;
    margin: auto;
    color: $black;
    font-size: 28px;
    font-weight: 600;
  }
  #plants {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
  }
  #yoga {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110px;
  }
}
