.panel {
  margin: 0px 220px;
  background-color: $light-rose;
  z-index: 10;
  border-radius: 50px;
  flex: 1;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  h1 {
    font-family: $avenir;
    font-size: 50px;
    font-weight: 400;
  }
}
