.panel {
  margin: 0px 220px;
  padding: 20px 0px;
  background-color: $light-rose;
  z-index: 10;
  border-radius: 50px;
  flex: 1;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  .panel__date {
    width: fit-content;
    margin: 0px 0px 10px 50px;
    font-size: 14px;
    color: $black;
    font-weight: 600;
  }
  .confirmed-sessions {
    display: flex;
  }
}
