.rnav {
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  height: 100vh;
  padding: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // justify-content: center;

  h4 {
    color: $black;
    font-size: 20px;
    font-weight: 600;
  }

  &__heading {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 20px;
    }
    .rnav__logout {
      cursor: pointer;

      span {
        color: $grey;
      }
    }
  }

  &__contact {
    text-align: center;
    img {
      width: 100px;
      margin-bottom: 10px;
      border-radius: 50%;
    }
    h3 {
      color: $black;
      font-weight: 600;
      font-size: 16px;
    }
    p {
      font-size: 16px;
    }
  }

  &__calendar {
    width: 100%;
    p {
      font-size: 14px;
    }
  }

  @media only screen and (min-width: 1500px) {
    width: 300px;
    &__contact {
      img {
        width: 150px;
      }
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
