.splitted {
  display: flex;

  &.inverse {
    .splitted__wrapper {
      .splitted__right {
        grid-row: 1;
        grid-column: 1;
      }
    }
  }
  .splitted__wrapper {
    padding: 100px 0px;
    width: 80%;
    margin: auto auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 10px;

    .splitted__left {
      margin: auto;
      #mockup {
      }
    }
    .splitted__right {
      margin: auto auto;
      .splitted__title {
        margin-bottom: 1rem;
      }
      .splitted__message {
        margin-bottom: 1rem;
      }
    }
  }

  @media only screen and (max-width: 576px) {
    .splitted__wrapper {
      padding: 0px;
      .splitted__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #mockup {
          width: 60%;
        }
      }
      .splitted__right {
        padding: 50px 0px;
        text-align: center;
      }
    }
  }
  @media only screen and (min-width: 1500px) {
    .splitted__wrapper {
      padding: 0px 0px 100px 0px;
    }
  }
}
